**Information:**

This notebook is part of the `final assignment` of the coursera course: `Python project for data engineering`

**Objectives:**

- Perform the ETL process:
 - Extract bank market capital data and the currency exchange data;
 - Transform the market cap currency using the exchange data;
 - Load the transformed data to a .csv file;

Packages

In [1]:
import pandas as pd
import glob
from datetime import datetime

**Extract:**

The data to be extract comes from .json file.

The extract function must extract localize the `bank_market_cap_1.json` file.</br>

The folder `"C:/Users/emers/Downloads/final_assignment/"` has the following files stored:
 - `bank_market_cap_1.json`
 - `bank_market_cap_2.json`
 - `exchange_rates.csv`

In [2]:
# Function to extract data from .json file:

def extract_from_json_to_df(path):
    df = pd.DataFrame(columns = ["Name", "Market Cap (US$ Billion)"])
    
    json_path = path + "bank_market_cap_1.json"
    df = pd.read_json(json_path)
    
    return df

In [3]:
extract_from_json_to_df("C:/Users/emers/Downloads/final_assignment/").head()

                                      Name  Market Cap (US$ Billion)
0                           JPMorgan Chase                   390.934
1  Industrial and Commercial Bank of China                   345.214
2                          Bank of America                   325.331
3                              Wells Fargo                   308.013
4                  China Construction Bank                   257.399

**Question 1** <br/> 
Load the file exchange_rates.csv as a dataframe and find the exchange rate for British pounds with the symbol `GBP`, store it in the variable `exchange_rate`, you will be asked for the number. Hint: set the parameter index_col to 0.

In [4]:
# Load the exchange rate file

path_csv =  "C:/Users/emers/Downloads/final_assignment/exchange_rates.csv"

exchange_rate = pd.read_csv(path_csv,index_col = 0).loc["GBP"]
exchange_rate

Rates    0.732398
Name: GBP, dtype: float64

**Transform:**

The transform function must perform the following actions:
 - Using the exhange rate to USD to GBP, transform the Banks market cap values to GBP
 - Round off the values of the banks market cap to 3 decimals.
 - Rename the Market capital to 'Market Cap (GBP$ Billion)'

In [7]:
def transform(df,ex):
    df["Market Cap (US$ Billion)"] = round(df["Market Cap (US$ Billion)"]*ex,3)
    df = df.rename(columns = {"Market Cap (US$ Billion)":"Market Cap (GBP$ Billion)"})
    
    return df

In [9]:
transform(extract_from_json_to_df("C:/Users/emers/Downloads/final_assignment/"), 0.732398)

                                       Name  Market Cap (GBP$ Billion)
0                            JPMorgan Chase                    286.319
1   Industrial and Commercial Bank of China                    252.834
2                           Bank of America                    238.272
3                               Wells Fargo                    225.588
4                   China Construction Bank                    188.519
..                                      ...                        ...
65                             Ping An Bank                     27.826
66                       Standard Chartered                     27.332
67                     United Overseas Bank                     25.728
68                                QNB Group                     24.579
69                              Bank Rakyat                     24.228

[70 rows x 2 columns]

**Load:**


Create a function that takes a dataframe and load it to a csv named bank_market_cap_gbp.csv. Make sure to set index to False.

In [10]:
 def load(df):
        df.to_csv("C:/Users/emers/Downloads/final_assignment/bank_market_cap_gbp.csv")

In [11]:
load(extract_from_json_to_df("C:/Users/emers/Downloads/final_assignment/"))

**LOGGING:**

In [12]:
def log(msg):
    time_stamp_format = "%Y-%h-%d-%H:%M-%S"  # Year-Month-Day-Hour:Minute:Second format\
    now = datetime.now()  # the current date time
    time_stamp = now.strftime(time_stamp_format)
    
    with open("C:/Users/emers/Downloads/final_assignment/log_msg_file.txt","a") as f:  # the function "open" opens a file-it creates one if it does not exist-. The mode "a" appends in the file
        f.write(time_stamp + " - " + msg + "\n")

### Running the ETL Process

In [13]:
log("ETL Job Started")

In [14]:
## EXTRACT:

log("Extract phase started")
df_USD = extract_from_json_to_df("C:/Users/emers/Downloads/final_assignment/")
log("Extract phase ended")
df_USD.head(5)

                                      Name  Market Cap (US$ Billion)
0                           JPMorgan Chase                   390.934
1  Industrial and Commercial Bank of China                   345.214
2                          Bank of America                   325.331
3                              Wells Fargo                   308.013
4                  China Construction Bank                   257.399

In [15]:
# TRANSFORM:

log("Transform phase started")
usd_to_gbp = 0.732398
df_GBP = transform(df_USD, usd_to_gbp)
log("Transform phase ended")

df_GBP.head()

                                      Name  Market Cap (GBP$ Billion)
0                           JPMorgan Chase                    286.319
1  Industrial and Commercial Bank of China                    252.834
2                          Bank of America                    238.272
3                              Wells Fargo                    225.588
4                  China Construction Bank                    188.519

In [16]:
# LOAD:

log("Load phase started")
load(df_GBP)
log("Load phase ended")

### Author:
- name: `Emerson Goncalves`
- date: 2022.07.26

In [17]:
datetime.now()

datetime.datetime(2022, 7, 26, 19, 26, 18, 884238)